{% extends "shop/base.html" %}
{% block title %} Orders {% endblock title %}

{% block main-content %}
<div class="container">
    <h2 class="text-center mt-3"><strong>Order Summary</strong></h2>
    <hr class="mb-3">
    {% if items %}
    <div class="border p-3">
        {% for item in items %}
        <div class="row">
            <div class="col-sm-3 text-center align-self-center">
                <img src="{{ item.product.image.url }}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm"
                    height="150" width="150">
            </div>
            <div class="col-sm-9">
                <div>
                    <h5>{{ item.product.tiltle }}</h5>
                    <p class="mb-2 text-muted small">{{ item.product.desc }}</p>
                    <div class="my-3">
                        <label for="quantity">Quantity:</label>
                        <span id="quantity">{{ item.quantity }}</span> <br>
                        <label for="date">Date:</label>
                        <span id="date">{{ item.date }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% if not forloop.last %}
        <hr class="my-3">
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <p class="middle">No Products bought yet.</p>
    {% endif %}
</div>
{% endblock main-content %}