{% extends "shop/base.html" %}
{% block title %} Profile {% endblock title %}

{% block main-content %}
<div class="middle">
    <fieldset style="border-radius: .5rem;">
      <h1 style="text-align: center;padding-bottom: .5rem;"><em>PROFILE</em></h1>
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group row p-2">{{ form.as_table }}</div>
        <button type="submit" class="btn btn-primary text-white">Save</button>
      </form>
    </fieldset>
  </div>
{% endblock main-content %}