{% extends 'shop/base.html' %}
{% block title %} Search Menu {% endblock title %}
{% load static %}

{% block main-content %}
<div class="container my-5">
  <h2><strong>Search Results:</strong></h2>
    <div class="row">
        {% if allSearches|length < 1 %}
        <p>No search results. <br>
    Your search query : <b>{{query}}</b> did not match any documents. <br>
    Suggestions: <br>
    <li>Make sure that all words are spelled correctly.<br></li>
    <li>Try more general keywords.<br></li>
   <li> Try fewer keywords.<br></li>
   <li> Try different keywords.</li>
    </p>
        {% endif %}
        {% if allSearches|length > 77 %}
        <p>Very lon search not allowed. Try different keywords.</p>
        {% else %}
        {% for i in allSearches %}
         <div class="col-sm-4 text-center mb-4">
          <a href="{% url 'productdetail' i.id %}" class="">
           <div class="item">
            <img src="{{i.image.url}}" alt="" height="300" class="">
            <div class="fw-bold">{{i.title}}</div>
            <div class="fw-bold">Rs. {{i.price}}</div>
           </div>
          </a>
         </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock main-content %}